<nav class="navbar navbar-expand-lg navbar-light bg-white container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-lg-start">
      <a class="nav-link active navItem" [routerLinkActiveOptions]='{exact:true}' routerLinkActive="text-danger" [routerLink]="['./userproduct']">Products</a>
      <a class="nav-link active navItem"  routerLinkActive="text-danger"  [routerLink]="['./profile']">profile</a>
      <a class="nav-link active navItem"  routerLinkActive="text-danger"  [routerLink]="['./order']">Order</a>
      <a class="nav-link active navItem"  routerLinkActive="text-danger"  [routerLink]="['./cart']">
        <i class="fa fa-shopping-cart mt-2" aria-hidden="true">  </i>
        CART
      </a>
      <a class="nav-link active navItem" routerLinkActive="text-danger" [routerLink]="['./user-signout']">signOut</a>

      <form class="form-inline marginLeft">
        <input class="form-control mr-sm-2 ml-5" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0 text-white" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>



<!-- <nav class="navbar navbar-expand-lg navbar-light navBgColor container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-lg-start">
      <a class="nav-link active navItem" [routerLinkActiveOptions]='{exact:true}' routerLinkActive="text-danger" [routerLink]="['./userproduct']">Products</a>
      <a class="nav-link active navItem"  routerLinkActive="text-danger"  [routerLink]="['./profile']">profile</a>
      <a class="nav-link active navItem"  routerLinkActive="text-danger"  [routerLink]="['./order']">Order</a>
      <a class="nav-link active navItem"  routerLinkActive="text-danger"  [routerLink]="['./cart']">
        <i class="fa fa-shopping-cart mt-2" aria-hidden="true">  </i>
        CART
      </a>
      <a class="nav-link active navItem" routerLinkActive="text-danger" [routerLink]="['./user-signout']">signOut</a>

      <form class="form-inline marginLeft">
        <input class="form-control mr-sm-2 ml-5" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0 text-white" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>

<router-outlet></router-outlet> -->


